# Compiled class file
*.class

# Log file
*.log

######################
# Windows
######################
   
# Windows image file caches
Thumbs.db
   
# Folder config file
Desktop.ini
   
######################
# OSX
######################
   
.DS_Store
.svn

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

######################
# Eclipse
######################

MANIFEST.MF

local.properties

pom.properties
*.txt
